name: Metrics
#docs: https://github.com/lowlighter/metrics/blob/master/.github/readme/partials/documentation/setup/action.md
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * 1"}] #weekly updates
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
    push: {branches: ["master", "main"]} # when workflow file changes
    paths:
      - .github/workflows/main.yml
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Base
        #uses: lowlighter/metrics@latest
        uses: oddstr13/github-profile-metrics@7b9f6613a2cdd3f8f8f61c4e28a5c4eeb32e0f7e
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          config_timezone: Europe/Amsterdam
          base: header, activity, community, metadata
          base_indepth: yes
          repositories: 200
          user: bnwolford
      - name: Languages
        uses: oddstr13/github-profile-metrics@7b9f6613a2cdd3f8f8f61c4e28a5c4eeb32e0f7e
        with:
          filename: metrics.plugin.languages.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          user: bnwolford
          commits_authoring: Brooke Wolford, bnwolford, bnwolford@users.noreply.github.com, bwolford@umich.edu, brookewo@ntnu.no
          plugin_languages: yes # languages
          plugin_languages_sections: most-used, recently-used
          plugin_languages_indepth: yes
          plugin_languages_other: no
          plugin_languages_ignored: html, css, scss, lua, Jupyter Notebook, TeX, JavaScript, PostScript, Apex
          plugin_languages_analysis_timeout: 60
          plugin_languages_details: bytes-size, percentage
          plugin_languages_aliases: RenderScript:Rust, rebol:R
          #plugin_languages_threshold: 2%
      - name: Half-year calendar #isometric calendar
        uses: oddstr13/github-profile-metrics@7b9f6613a2cdd3f8f8f61c4e28a5c4eeb32e0f7e
        with:
          filename: metrics.plugin.isocalendar.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
      - name: Latest tweets including attachments #twitter
        uses: lowlighter/metrics@latest 
        with:
          filename: metrics.plugin.tweets.attachments.svg
          token: NOT_NEEDED
          base: ""
          plugin_tweets: yes
          plugin_tweets_token: ${{ secrets.TWITTER }}
          plugin_tweets_attachments: yes
          plugin_tweets_user: bnwolford
          plugin_tweets_limit: 1
